<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Redo- Collage App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FA3929B1C57EB3200808542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FA392AF1C57EB3300808542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FA392BA1C57EB3300808542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
